<% provide(:title, @taxon.name) %>
<% provide(:shop_link, "shop_link") %>

<%= render 'layouts/title_header', title_header: @taxon.name %>

<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <%= render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'layouts/partners_logo' %>
