<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= title_header %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to "Home", potepan_path %></li>
          <% if yield(:shop_link).present? %>
            <li><%= link_to "SHOP", "#" %></li>
          <% end %>
          <li class="active"><%= title_header %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
